<div class="panel">
  <form [formGroup]="form" (ngSubmit)="Submit()" class="form grid-form">
    <!-- Username -->
    <div class="field">
      <label
        >إسم المستخدم
  <span class="required text-danger" *ngIf="isRequired('Username')">*</span>
</label
      >
      <input type="text" formControlName="Username" />
    </div>

    <!-- Password -->
    <div class="field password-field">
      <label
        >الرقم السرى
        <span
          class="required text-danger"
          *ngIf="isRequired('Password')"
        >
          *
        </span></label
      >

      <div class="input-wrapper">
        <input
          [type]="showPassword ? 'text' : 'password'"
          formControlName="Password"
          placeholder="الرقم السرى"
        />

        <i
          class="pi"
          [ngClass]="showPassword ? 'pi-eye-slash' : 'pi-eye'"
          (click)="togglePassword()"
        ></i>
      </div>
    </div>

    <!-- Name -->
    <div class="field">
      <label
        >الاسم الكامل
        <span
          class="required text-danger"
          *ngIf="isRequired('Name')"
        >
          *
        </span></label
      >
      <input type="text" formControlName="Name" />
    </div>

    <!-- Role -->
    <div class="field">
      <label
        >منصب الموظف
        <span
          class="required text-danger"
          *ngIf="isRequired('Role')"
        >
          *
        </span></label
      >
      <select formControlName="Role">
        <option value="">اختر المنصب</option>
        <option value="HR">HR</option>
        <option value="Admin">Admin</option>
        <option value="User">User</option>
      </select>
    </div>

    <button type="submit" [disabled]="loading || form.invalid" class="submit-btn full">
      {{ loading ? 'جارى التسجيل...' : 'تسجيل' }}
    </button>
  </form>
</div>
