<div class="shortcuts">
  @for (shortcut of shortcuts; track shortcut.action) {
    <button
      class="shortcut"
      type="button"
      (click)="onShortcutClick(shortcut)"
    >
      <span
        class="shortcut__icon"
        [style.background]="getTheme(shortcut.action).bg"
        [style.color]="getTheme(shortcut.action).color"
      >
        <span class="material-icons window-icon">
          {{ getTheme(shortcut.action).icon }}
        </span>
      </span>

      <span class="shortcut__label">
        {{ shortcut.title }}
      </span>
    </button>
  }
</div>