:host {
  display: block;
  height: 100%;
}

.desktop {
  --bg-start: #eff5ff;
  --bg-end: #c8d8f0;
  --surface: rgba(255, 255, 255, 0.6);
  --surface-strong: rgba(255, 255, 255, 0.84);
  --surface-border: rgba(255, 255, 255, 0.4);
  --text: #172033;
  --text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  --text-soft: #50607a;
  /* --shadow: 0 22px 45px rgba(35, 56, 95, 0.18); */
  --taskbar: rgba(236, 242, 251, 0.75);
  --taskbar-border: rgba(255, 255, 255, 0.44);
  --accent: #3178f6;
  --danger: #f45454;
  position: relative;
  min-height: 100vh;
  color: var(--text);
  background:
    url("/photos/bg.png") no-repeat center center;
  background-size: cover;
  background-position: center;
  --shortcut-bg: rgba(236, 242, 251, 0.75);
  --shortcut-shadow:
    0 6px 12px rgba(0, 0, 0, 0.1),
    0 12px 30px rgba(0, 0, 0, 0.15);
  /* background:
    radial-gradient(circle at top left, rgba(255, 255, 255, 0.85), transparent 30%),
    linear-gradient(135deg, var(--bg-start), var(--bg-end)); */
  direction: rtl;
}



.desktop.dark {
  --bg-start: #0a1322;
  --bg-end: #162235;
  --surface: rgba(17, 25, 39, 0.55);
  --surface-strong: rgba(15, 23, 38, 0.84);
  --surface-border: rgba(255, 255, 255, 0.08);
  --text: #eef3ff;
  --text-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  --shortcut-shadow:
    0 8px 20px rgba(0, 0, 0, 0.5),
    0 16px 40px rgba(254, 254, 254, 0.6);
  --text-soft: #a9b6cc;
  --shadow: 0 22px 45px rgba(0, 0, 0, 0.35);
  --taskbar: rgba(10, 16, 28, 0.8);
  --taskbar-border: rgba(255, 255, 255, 0.08);
  --accent: #69a2ff;
  --shortcut-bg: rgba(30, 30, 30, 0.6);

}

.desktop__greeting {
  text-shadow: var(--text-shadow);
}

.desktop__surface {
  position: relative;
  min-height: calc(100vh - 82px);
  padding: 20px;
  overflow: hidden;
}

.Logo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.25));

}

@media (max-width: 900px) {
  .desktop__surface {
    padding: 5px;
  }
}