::ng-deep.data-employee-dialog .p-dialog {
  height: auto !important;
}

::ng-deep.data-employee-dialog .p-dialog-header {
  flex-direction: unset !important;
  padding: 0.2rem 1rem !important;
}

::ng-deep.data-employee-dialog .p-dialog-content {
  padding: 0.5rem 0.5rem !important;
  border-radius: 0 0 0.0rem 0.0rem !important;
  height: 65%
}

::ng-deep.data-employee-dialog .p-dialog-footer {
  flex-direction: unset !important;
  padding: 0.2rem 0.2rem !important;
  border-radius: 0 0 0.5rem 0.5rem !important;
  background: var(--surface-strong) !important;
  border-top: 0.1rem solid var(--surface-border) !important;
  justify-content: center !important;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}