<footer class="taskbar">
      <div class="volume">
      <button class="power-btn btn btn-danger" type="button" (click)="logout()">
        <i class="bi bi-power"></i>
      </button>
    </div>
  <a href="https://opshan.github.io/home" target="_blank" rel="noopener">
    <img src="/photos/OpshanLogo.png" alt="Logo" class="taskbar__logo" />
  </a>
  <!-- <button class="taskbar__start" type="button"></button> -->
  <div class="taskbar__tasks">
    @for (window of windows; track window.id) {
      <button
        type="button"
        class="taskbar__task"
        [class.is-active]="window.active && !window.minimized"
        (click)="onTaskClick(window.id)"
      >
        <span
          class="material-icons window-icon my-1"
          [style.background]="getTheme(window.action).bg"
          [style.color]="getTheme(window.action).color"
        >
          {{ getTheme(window.action).icon }}
        </span>

        <span>{{ window.title }}</span>
      </button>
    }
  </div>

  <div class="taskbar__tray">

    <label class="w11-toggle">
      <input
        type="checkbox"
        [checked]="themeToggle"
        (change)="onThemeChange($event)"
      />

      <span class="slider">
        <span class="thumb"></span>
      </span>

      <span class="label">{{ themeToggle ? "☀️" : "🌙" }}</span></label
    >
    <span class="clock">
      <strong>{{ timeLabel }}</strong>
      <small>{{ dateLabel }}</small>
    </span>
  </div>
</footer>
