<div class="panel">
  <div class="form">
    <div class="field">
      <label>عدد الساعات <span class="text-danger">*</span></label>
      <input
        class="custom-input"
        type="number"
        [(ngModel)]="form.hours"
        placeholder="مثال: 2"
        min="1"
      />
    </div>

    <div class="field">
      <label>السبب <span class="text-danger">*</span></label>
      <select class="custom-input toolbar-select" [(ngModel)]="form.notes">
        <option value="إستلام من زميل">إستلام من زميل</option>
        <option value="تأخير حضور زميلى">تأخير حضور زميلى</option>
        <option value="تكليف من مدير المنطقة">تكليف من مدير المنطقة</option>
        <option value="تكليف من احد القيادات بالمجموعة">تكليف من احد القيادات بالمجموعة</option>
        <option value="أخرى">اخرى</option>
      </select>
    </div>

        <div class="field">
      <label>تاريخ الأوفر تايم<span class="text-danger">*</span></label>
      <p-datepicker
        [(ngModel)]="form.dateOfShift"
        dateFormat="yy-mm-dd"
        placeholder="اختر تاريخ"
        [appendTo]="'body'"
       [minDate]="yesterday"
        [maxDate]="today"
        [pt]="{ pcInputText: { root: { style: 'padding: 0.3rem' } } }"
      />
    </div>

    <button
      type="button"
      class="submit-btn full"
      [disabled]="loading || !form.hours || form.hours < 1"
      (click)="submit()"
    >
      {{ loading ? 'جارى الإرسال...' : 'إرسال الطلب' }}
    </button>
  </div>
</div>
