<p-table
  [value]="employees"
  [paginator]="true"
  [rows]="pageSize"
  [rowsPerPageOptions]="[5,10,20]"
  [loading]="loading"
  [responsiveLayout]="'scroll'"
  [paginatorDropdownAppendTo]="'body'"
  dataKey="id"
  dir="rtl"
>
  <!-- HEADER -->
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>الاسم</th>
      <th>الوظيفة</th>
      <th>البنك</th>
      <th>رقم الحساب</th>
      <th>ساعات العمل</th>
      <th>الفرع</th>
    </tr>
  </ng-template>

  <!-- BODY -->
  <ng-template pTemplate="body" let-emp let-ri="rowIndex">
    <tr>
      <td>{{ ri + 1 + (page - 1) * pageSize }}</td>
      <td>{{ emp.name }}</td>
      <td>{{ emp.theNameOfJob }}</td>
      <td>{{ emp.bankName }}</td>
      <td>{{ emp.bankAccount }}</td>
      <td>{{ emp.shiftHours }}</td>
      <td>{{ emp.branchName }}</td>
    </tr>
  </ng-template>
</p-table>
