<div class="sticky-header">
  <button
    pButton
    type="button"
    class="btn btn-sm btn-success mx-1 my-1 d-flex align-items-center justify-content-center gap-2"
    [class.btn-success]="!showCreateEmployee"
    [class.btn-danger]="showCreateEmployee"
    icon="pi pi-plus"
    (click)="
  selectedEmployee = null;
  showCreateEmployee = !showCreateEmployee"
  >
    <i
      class="pi"
      [ngClass]="showCreateEmployee ? 'pi pi-times' : 'pi-user-plus'"
    ></i>

    {{ showCreateEmployee ? '' : 'موظف جديد' }}
  </button>
</div>

<app-create-employee
  *ngIf="showCreateEmployee"
  [employeeData]="selectedEmployee"
  (created)="onEmployeeCreated()"
>
</app-create-employee>

<p-table
  *ngIf="!showCreateEmployee"
  [value]="employees"
  [paginator]="true"
  [rows]="pageSize"
  [rowsPerPageOptions]="[5,10,20]"
  [loading]="loading"
  [responsiveLayout]="'scroll'"
  [paginatorDropdownAppendTo]="'body'"
  dataKey="id"
  dir="rtl"
>
  <!-- HEADER -->
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>الاسم</th>
      <th>الوظيفة</th>
      <th>البنك</th>
      <th>رقم الحساب</th>
      <th>ساعات العمل</th>
      <th>الفرع</th>
      <th>الإجراءات</th>
    </tr>
  </ng-template>

  <!-- BODY -->
  <ng-template pTemplate="body" let-emp let-ri="rowIndex">
    <tr>
      <td>{{ ri + 1 + (page - 1) * pageSize }}</td>
      <td>{{ emp.name }}</td>
      <td>{{ emp.theNameOfJob }}</td>
      <td>{{ emp.bankName }}</td>
      <td>{{ emp.bankAccount }}</td>
      <td>{{ emp.shiftHours }}</td>
      <td>{{ emp.branchName }}</td>
      <td>
        <button
          pButton
          type="button"
          class="btn btn-sm btn-success mx-1 my-1 rounded-circle"
          icon="pi pi-pencil"
          (click)="editEmployee(emp)"
        >
          <i
            class="pi pi-pencil d-flex align-items-center justify-content-center"
          ></i>
        </button>
        <button
          pButton
          type="button"
          class="btn btn-sm btn-danger mx-1 my-1 rounded-circle"
          icon="pi pi-user-minus"
          (click)="openEndService(emp)"
        >
          <i
            class="pi pi-user-minus d-flex align-items-center justify-content-center"
          ></i>
        </button>
        <button
          pButton
          type="button"
          class="btn btn-sm btn-warning mx-1 my-1 rounded-circle"
          (click)="viewDetails(emp)"
        >
          <i
            class="pi pi-eye d-flex align-items-center justify-content-center"
          ></i>
        </button>
        <button
          pButton
          type="button"
          class="btn btn-sm btn-info mx-1 my-1 rounded-circle"
          icon="pi pi-id-card"
          (click)="openEmployeeDetails(emp)"
        >
          <i
            class="pi pi-id-card d-flex align-items-center justify-content-center"
          ></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  header="إنهاء خدمة الموظف"
  [(visible)]="showEndServiceDialog"
  [modal]="true"
  class="end-service-dialog"
  [style]="{ width: '24rem' }"
>
  <div class="end-service-content">
    <div class="field">
      <label>نوع إنهاء الخدمة</label>

      <select class="form-select" [(ngModel)]="endOfServiceType">
        <option value="">اختر نوع إنهاء الخدمة</option>

        <option value="استقالة">استقالة</option>

        <option value="إنهاء الخدمة بمعرفة المجموعة">
          إنهاء الخدمة بمعرفة المجموعة
        </option>

        <option value="إنهاء الخدمة بعدم معرفة المجموعة">
          إنهاء الخدمة بعدم معرفة المجموعة
        </option>
      </select>
    </div>

    <div class="field">
      <label>سبب إنهاء الخدمة</label>

      <textarea
        rows="4"
        [(ngModel)]="endServiceReason"
        placeholder="اكتب السبب"
      ></textarea>
    </div>

    <div class="d-flex justify-content-center gap-2">
      <button
        pButton
        type="button"
        label="تأكيد"
        class="btn btn-sm btn-danger mx-1 my-1 rounded"
        (click)="submitEndService(selectedEmployee)"
      >
        إرسال
      </button>
    </div>
  </div>
</p-dialog>

<p-dialog
  header="بيانات الموظف"
  [(visible)]="showEmployeeDetailsDialog"
  [modal]="true"
  [style]="{ width: '40rem' }"
  class="end-service-dialog"
>
  <div class="details-grid" *ngIf="employeeDetails">
    <!-- اسم الموظف -->
    <div class="detail-item">
      <label>اسم الموظف</label>
      <span>{{ employeeDetails.name || '-' }}</span>
    </div>

    <!-- المسمى الوظيفي -->
    <div class="detail-item">
      <label>المسمى الوظيفى</label>
      <span>{{ employeeDetails.theNameOfJob || '-' }}</span>
    </div>

    <!-- نوع الوظيفة -->
    <div class="detail-item">
      <label>الدور الوظيفي</label>
      <span>
        {{ employeeDetails.role === 'static' ? 'ثابت' : employeeDetails.role ===
        'changable' ? 'متغير' : employeeDetails.role === 'delivery' ? 'دليفرى' :
        '-' }}
      </span>
    </div>

    <!-- الفرع -->
    <div class="detail-item">
      <label>الفرع</label>
      <span>{{ employeeDetails.branchName || '-' }}</span>
    </div>

    <!-- ساعات الشيفت -->
    <div class="detail-item">
      <label>عدد ساعات الشيفت</label>
      <span>{{ employeeDetails.shiftHours || '-' }}</span>
    </div>

    <!-- البنك -->
    <div class="detail-item">
      <label>اسم البنك</label>
      <span>{{ employeeDetails.bankName || '-' }}</span>
    </div>

    <!-- الحساب البنكي -->
    <div class="detail-item">
      <label>رقم الحساب البنكى</label>
      <span>{{ employeeDetails.bankAccount || '-' }}</span>
    </div>

    <!-- تاريخ التعيين -->
    <div class="detail-item">
      <label>تاريخ التعيين</label>
      <span> {{ employeeDetails.hiringDate | date:'yyyy-MM-dd' }} </span>
    </div>

    <!-- المؤهل -->
    <div class="detail-item">
      <label>المؤهل الدراسي</label>
      <span>{{ employeeDetails.qualification || '-' }}</span>
    </div>

    <!-- سنة التخرج -->
    <div class="detail-item">
      <label>سنة التخرج</label>
      <span>{{ employeeDetails.graduationYear || '-' }}</span>
    </div>

    <!-- الرقم القومي -->
    <div class="detail-item">
      <label>الرقم القومي</label>
      <span>{{ employeeDetails.nationalId || '-' }}</span>
    </div>

    <!-- رقم الهاتف -->
    <div class="detail-item">
      <label>رقم الهاتف</label>
      <span>{{ employeeDetails.phoneNumber || '-' }}</span>
    </div>

    <!-- تاريخ إنهاء الخدمة -->
    <div class="detail-item">
      <label>تاريخ إنهاء الخدمة</label>
      <span>
        {{ employeeDetails.endOfServiceDate ? (employeeDetails.endOfServiceDate
        | date:'yyyy-MM-dd') : '-' }}
      </span>
    </div>

    <!-- نوع إنهاء الخدمة -->
    <div class="detail-item">
      <label>نوع إنهاء الخدمة</label>
      <span>{{ employeeDetails.endOfServiceType || '-' }}</span>
    </div>

    <!-- سبب إنهاء الخدمة -->
    <div class="detail-item full-width">
      <label>سبب إنهاء الخدمة</label>
      <span>{{ employeeDetails.endOfServiceReason || '-' }}</span>
    </div>
  </div>
</p-dialog>
