<div class="sticky-header">
  <button
    pButton
    type="button"
    class="btn btn-sm btn-success mx-1 my-1 d-flex align-items-center justify-content-center gap-2"
    [class.btn-success]="!showCreateUser"
    [class.btn-danger]="showCreateUser"
    icon="pi pi-plus"
    (click)="showCreateUser = !showCreateUser"
  >
    <i
      class="pi"
      [ngClass]="showCreateUser ? 'pi pi-times ' : 'pi-user-plus'"
    ></i>

    {{ showCreateUser ? '' : 'مستخدم جديد' }}
  </button>
</div>

<app-create-user *ngIf="showCreateUser" (created)="onEmployeeCreated()">
</app-create-user>

<p-table
  *ngIf="!showCreateUser"
  [value]="users"
  dataKey="id"
  editMode="row"
  [paginator]="true"
  [rows]="pageSize"
  [rowsPerPageOptions]="[5,10,20]"
  [tableStyle]="{ 'min-width': '60rem' }"
  [responsiveLayout]="'scroll'"
  [paginatorDropdownAppendTo]="'body'"
    [editingRowKeys]="editingRowKeys"

  dir="rtl"
>
  <!-- HEADER -->
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>إسم الموظف</th>
      <th>إسم المستخدم</th>
      <th>كلمة المرور</th>
      <th>المنصب</th>
      <th>الحالة</th>
      <th>الإجراءات</th>
    </tr>
  </ng-template>

  <!-- BODY -->
  <ng-template pTemplate="body" let-emp let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="emp">
      <td>{{ ri + 1 }}</td>

      <!-- NAME -->
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              pInputText
              class="custom-input"
              readonly
              [(ngModel)]="emp.name"
            />
          </ng-template>
          <ng-template pTemplate="output"> {{ emp.name }} </ng-template>
        </p-cellEditor>
      </td>

      <!-- USERNAME -->
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              pInputText
              class="custom-input"
              readonly
              [(ngModel)]="emp.username"
            />
          </ng-template>
          <ng-template pTemplate="output"> {{ emp.username }} </ng-template>
        </p-cellEditor>
      </td>

      <!-- PASSWORD -->
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <div class="input-wrapper">
              <input
                pInputText
                class="custom-input"
                [type]="emp.showPassword ? 'text' : 'password'"
                [(ngModel)]="emp.password"
                [ngModelOptions]="{ standalone: true }"
                placeholder="الرقم السرى"
              />

              <i
                class="pi password-eye"
                [ngClass]="emp.showPassword ? 'pi-eye-slash' : 'pi-eye'"
                (click)="emp.showPassword = !emp.showPassword"
              ></i>
            </div>
          </ng-template>

          <ng-template pTemplate="output"> ******** </ng-template>
        </p-cellEditor>
      </td>

      <!-- ROLE -->
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <select [(ngModel)]="emp.role" disabled class="custom-input">
              <option value="">اختر المنصب</option>
              <option value="Admin">مسؤل</option>
              <option value="Accountant">محاسب</option>
              <option value="HR">موارد بشرية</option>
              <option value="Employee">موظف</option>
              <option value="Manager">مدير</option>
              <option value="Control">كنترول</option>
              <option value="Area Manager">مدير منطقة</option>
            </select>
          </ng-template>
          <ng-template pTemplate="output"> {{ emp.role }} </ng-template>
        </p-cellEditor>
      </td>

      <!-- STATUS -->
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <select
              [(ngModel)]="emp.isActive"
              (ngModelChange)="onStatusChange(emp)"
              class="custom-input"
            >
              <option [ngValue]="true">نشيط</option>
              <option [ngValue]="false">غير نشيط</option>
            </select>
          </ng-template>

          <ng-template pTemplate="output">
            <p-tag
              [value]="emp.isActive ? 'نشيط' : 'غير نشيط'"
              [severity]="emp.isActive ? 'success' : 'danger'"
            >
            </p-tag>
          </ng-template>
        </p-cellEditor>
      </td>

      <!-- ACTIONS -->
      <td>
        <!-- Edit -->
        <button
          *ngIf="!editing"
          pButton
          icon="pi pi-pencil"
          class="btn btn-sm btn-success mx-1 my-1 rounded-circle"
            (click)="editingRowKeys[emp.id] = true"

          pInitEditableRow
        >
          <i
            class="pi pi-pencil d-flex align-items-center justify-content-center"
          ></i>
        </button>

        <!-- Save -->
        <button
          *ngIf="editing"
          pButton
          icon="pi pi-check"
          class="btn btn-sm btn-success mx-1 my-1 rounded-circle"
          (click)="onRowEditSave(emp)"
        >
          <i
            class="pi pi-check d-flex align-items-center justify-content-center"
          ></i>
        </button>

        <!-- Cancel -->
        <button
          *ngIf="editing"
          pButton
          icon="pi pi-times"
          class="btn btn-sm btn-danger mx-1 my-1 rounded-circle"
          pCancelEditableRow
        >
          <i
            class="pi pi-times d-flex align-items-center justify-content-center"
          ></i>
        </button>

        <!-- Delete -->
        <!-- <button
          *ngIf="!editing"
          pButton
          icon="pi pi-trash"
          class="btn btn-sm btn-danger mx-1 my-1 rounded-circle"
          (click)="confirmDelete(emp)"
        >
          <i
            class="pi pi-trash d-flex align-items-center justify-content-center"
          ></i>
        </button> -->
      </td>
    </tr>
  </ng-template>
</p-table>
