:root {
  color-scheme: light;
  font-family: 'Beiruti', sans-serif;
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Beiruti', sans-serif;
  font-size: 25px;
  height: 100%;
  margin: 0;
}

body {
  /* background: #dfe7f4; */
  background:
    url("/photos/bg.png") no-repeat center center;
  background-size: cover;
  background-position: center;
}

button,
input {
  font: inherit;
}

.p-toast .p-toast-message-content {
  direction: rtl;
  text-align: right;
}

.p-toast .p-toast-summary,
.p-toast .p-toast-detail {
  text-align: right;
}

.p-datatable-tbody>tr>td {
  padding: 0.1rem !important;
}

.p-paginator {
  padding: 3px !important;
}

.p-select-label {
  padding: 0.3rem 0.5rem !important;
}

/* 🎯 Table Wrapper */
.p-datatable {
  background: var(--surface);
  border: 0px solid var(--surface-border);
  /* border-radius: 16px; */
  overflow: hidden;
  backdrop-filter: blur(10px);
  box-shadow: var(--shadow);
}

.p-datatable .p-datatable-thead>tr>th {
  background: var(--surface-strong);
  border-bottom: 2px solid var(--surface-border);
  text-align: center;
  font-weight: 600;
  padding: 15px;
  background-color: var(--accent) !important;
  color: #fff !important;
}

.p-datatable .p-datatable-tbody>tr {
  background: transparent;
  transition: 0.2s ease;
  color: var(--text);
  text-align: center;

}

.p-datatable .p-datatable-tbody>tr>td {
  text-align: center;
}

/* ✨ hover احترافي */
.p-datatable .p-datatable-tbody>tr:hover>td {
  background: var(--hover);
  color: var(--text);

}

/* ✨ left accent line */
.p-datatable .p-datatable-tbody>tr:hover {
  box-shadow: inset 3px 0 0 var(--hover);
}

.p-cell-editor .p-inputtext {
  background: var(--surface-strong);
  border: 1px solid var(--surface-border);
  /* border-radius: 12px; */
}

.custom-input {
  padding: 5px 5px;
  border: 2px solid var(--surface-border);
  border-radius: 18px;
  color: var(--text);
  outline: none;
  transition: 0.2s ease;
  /* font-size: 20px; */

  background: var(--surface-strong);
}

.custom-input option {
  color: var(--text);
  padding: 10px;
  background: var(--surface-strong);
}

.custom-input select {
  color: var(--text);
  background: var(--surface-strong);
}


.p-paginator {
  background: var(--surface) !important;
  border-bottom: 0px solid var(--surface-border);
  backdrop-filter: blur(10px);
}

.p-paginator .p-paginator-page.p-highlight {
  background: var(--accent) !important;
  border-color: var(--accent) !important;
  color: #fff !important;
}

.p-paginator .p-paginator-page:not(.p-highlight):hover {
  background: rgba(49, 120, 246, 0.15);
  color: var(--accent);
}

.p-paginator-page.p-paginator-page-selected {
  background-color: var(--accent) !important;
  color: #fff !important;
  border-radius: 20px;
}

.p-select-option.p-select-option-selected.p-focus {
  background: var(--accent);
  color: var(--text);
}

.p-paginator .p-paginator-next,
.p-paginator .p-paginator-prev {
  color: var(--text);
}

.p-paginator .p-paginator-next:hover,
.p-paginator .p-paginator-prev:hover {
  background: rgba(49, 120, 246, 0.15);
}



.p-select-dropdown,
.p-select-label {
  width: auto !important;
}

.p-dialog {
  border: 0.1rem solid var(--surface-border) !important;
  /* background: var(--surface) !important; */
  color: var(--text) !important;
}

.p-dialog-header {
  flex-direction: row-reverse !important;
  background: var(--surface-strong) !important;
  color: var(--text) !important;
  border-bottom: 0.1rem solid var(--surface-border) !important;
  border-radius: 0.5rem 0.5rem 0 0 !important;
}

.p-dialog-content {
  padding: 1rem !important;
  background: var(--surface-strong) !important;
  color: var(--text);
  border-radius: 0 0 0.5rem 0.5rem !important;
}

.panel {
  display: grid;
  align-content: start;
  gap: 18px;
  height: 100%;
  padding: 10px;
}

.panel h3,
.panel p {
  margin: 0;
}

.panel p {
  color: var(--text-soft);
  max-width: 52ch;
}

/* 🔥 form container بنفس list */
.form {
  display: grid;
  gap: 10px;
}

/* 🔥 نفس شكل list__item */
.form input,
.form select {
  padding: 10px 10px;
  border: 1px solid var(--surface-border);
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.08);
  color: inherit;
  outline: none;
  font-size: 20px;
  transition: 0.2s ease;
}

/* focus زي modern glass UI */
.form input:focus,
.form select:focus {
  border-color: #1677ff;
  background: rgba(255, 255, 255, 0.12);
}

/* 🔥 button بنفس النظام */
.form button {
  /* padding: 10px; */
  height: 50px;
  border: 1px solid var(--surface-border);
  border-radius: 18px;
  background: rgba(22, 119, 255, 0.2);
  color: var(--text);
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
}

.form button:hover {
  background: rgba(22, 119, 255, 0.35);
}

.form select option {
  background: var(--surface);
}

.form button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.submit-btn {
  width: 10%;
  margin: auto;

}

.field {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.field label {
  color: var(--text-soft);
  padding-inline-start: 6px;
}


.password-field .input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-field input {
  width: 100%;
  padding-inline-end: 40px;
  /* مساحة للأيقونة */
}

/* أيقونة العين */
.password-field i {
  position: absolute;
  left: 12px;
  cursor: pointer;
  font-size: 18px;
  color: var(--text-soft);
  transition: 0.2s;
}

.password-field i:hover {
  color: #1677ff;
}

/* grid layout */
.grid-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

/* يخلي العنصر ياخد الصف كله */
.full {
  grid-column: span 3;
}

/* field */
.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media (max-width: 900px) {
  .grid-form {
    grid-template-columns: repeat(2, 1fr);
  }

  .full {
    grid-column: span 2;
  }
}

@media (max-width: 600px) {
  .grid-form {
    grid-template-columns: 1fr;
  }

  .full {
    grid-column: span 1;
  }
}

.password-rules {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 5px 5px;
  font-size: 15px;
}

.password-rules li {
  color: #999;
  transition: 0.2s;
}

.password-rules li.valid {
  color: #52c41a;
  /* أخضر */
}

.p-datepicker-input {
  width: 100%;
}


.p-confirmdialog {
  border-radius: 25px !important;
  overflow: hidden !important;
  backdrop-filter: blur(14px);
  background: var(--bg-start) !important;
  border: 0.1rem solid !important;
}

/* header */
.p-confirmdialog .p-dialog-header {
  background: var(--bg-start) !important;
  border-bottom: 1px solid !important;
  color: var(--text) !important;
  padding: 0.5rem 0.5rem !important;
}

/* content */
.p-confirmdialog .p-dialog-content {
  background: var(--bg-start) !important;
  color: var(--text) !important;
  padding: 0.5rem 0.5rem !important;
}

/* message */
.p-confirmdialog-message {
  color: var(--text) !important;
  line-height: 1.8;
}

/* footer */
.p-confirmdialog .p-dialog-footer {
  background: transparent !important;
  border-top: 1px solid !important;
  padding: 0.5rem 0.5rem !important;
}

/* buttons */
.p-confirmdialog .p-button {
  border-radius: 16px !important;
}

/* cancel button */
.p-confirmdialog-reject-button {
  background: rgba(255, 255, 255, 0.06) !important;
  border: 1px solid rgba(255, 255, 255, 1) !important;
}

/* accept button */
.p-confirmdialog-accept-button {
  background: rgba(220, 53, 69, 0.22) !important;
  border: 1px solid rgba(220, 53, 69, 1) !important;

}

/* icon */
.p-confirmdialog-icon {
  color: #f59e0b !important;
  font-size: 2rem !important;
}

.p-inputtext {
  /* padding: 5px 5px !important; */
  border-radius: 18px !important;
  background: var(--surface-strong) !important;
  color: var(--text) !important;
}
.p-menu{
  border-radius: 20px !important;
}

.p-menu-list {
  direction: rtl;
  background: rgba(222, 221, 221, 0.75);
  border-radius: 15px;
  color: inherit;
  font-size: large;
  padding: 3px !important;
}

.p-menu-item-icon {
  font-size: large;
  color: var(--text-soft) !important;
}

.p-menu-item-link {
  padding: 10px 16px !important;
}

.p-menu-item-content{
  border-radius: 15px !important;
}