:root {
  color-scheme: light;
  font-family: 'Beiruti', sans-serif;
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Beiruti', sans-serif;
  font-size: 25px;
  height: 100%;
  margin: 0;
}

body {
  /* background: #dfe7f4; */
  background:
    url("/photos/bg.png") no-repeat center center;
  background-size: cover;
  background-position: center;
}

button,
input {
  font: inherit;
}

.p-toast .p-toast-message-content {
  direction: rtl;
  text-align: right;
}

.p-toast .p-toast-summary,
.p-toast .p-toast-detail {
  text-align: right;
}

.p-datatable-tbody>tr>td {
  padding: 0.4rem !important;
}

.p-paginator {
  padding: 3px !important;
}

.p-select-label {
  padding: 0.3rem 0.5rem !important;
}

/* 🎯 Table Wrapper */
.p-datatable {
  background: var(--surface);
  border: 0px solid var(--surface-border);
  /* border-radius: 16px; */
  overflow: hidden;
  backdrop-filter: blur(10px);
  box-shadow: var(--shadow);
}

.p-datatable .p-datatable-thead>tr>th {
  background: var(--surface-strong);
  border-bottom: 2px solid var(--surface-border);
  text-align: center;
  font-weight: 600;
  padding: 15px;
  background-color: var(--accent) !important;
  color: #fff !important;
}

.p-datatable .p-datatable-tbody>tr {
  background: transparent;
  transition: 0.2s ease;
  color: var(--text);
  text-align: center;

}

.p-datatable .p-datatable-tbody>tr>td {
  text-align: center;
}

/* ✨ hover احترافي */
.p-datatable .p-datatable-tbody>tr:hover>td {
  background: var(--hover);
  color: var(--text);

}

/* ✨ left accent line */
.p-datatable .p-datatable-tbody>tr:hover {
  box-shadow: inset 3px 0 0 var(--hover);
}

.p-cell-editor .p-inputtext {
  background: var(--surface-strong);
  border: 1px solid var(--surface-border);
  border-radius: 12px;
}

.custom-input {
  padding: 10px 10px;
  border: 1px solid var(--surface-border);
  border-radius: 18px;
  color: var(--text);
  outline: none;
  font-size: 20px;
  transition: 0.2s ease;
}

.custom-input option {
  color: var(--text);
  background: var(--surface-strong);
}


.p-paginator {
  background: var(--surface) !important;
  border: 1px solid var(--surface-border);
  backdrop-filter: blur(10px);
}

.p-paginator .p-paginator-page.p-highlight {
  background: var(--accent) !important;
  border-color: var(--accent) !important;
  color: #fff !important;
}

.p-paginator .p-paginator-page:not(.p-highlight):hover {
  background: rgba(49, 120, 246, 0.15);
  color: var(--accent);
}

.p-paginator-page.p-paginator-page-selected {
  background-color: var(--accent) !important;
  color: #fff !important;
  border-radius: 20px;
}

.p-select-option.p-select-option-selected.p-focus {
  background: var(--accent);
  color: var(--text);
}

.p-paginator .p-paginator-next,
.p-paginator .p-paginator-prev {
  color: var(--text);
}

.p-paginator .p-paginator-next:hover,
.p-paginator .p-paginator-prev:hover {
  background: rgba(49, 120, 246, 0.15);
}



.p-select-dropdown,
.p-select-label {
  width: auto !important;
}