<div class="sticky-header">
  <button
    pButton
    type="button"
    class="btn btn-sm mx-1 my-1 d-flex align-items-center justify-content-center gap-2"
    [class.btn-success]="!showCreateBranch"
    [class.btn-danger]="showCreateBranch"
    (click)="showCreateBranch = !showCreateBranch"
  >
    <i class="pi" [ngClass]="showCreateBranch ? 'pi-times' : 'pi-sitemap'"></i>
    {{ showCreateBranch ? '' : 'فرع جديد' }}
  </button>
</div>

<!-- CREATE BRANCH -->
<app-create-branch *ngIf="showCreateBranch" (created)="onBranchCreated()">
</app-create-branch>

<!-- TABLE -->
<p-table
  *ngIf="!showCreateBranch"
  [value]="Branches"
  [paginator]="true"
  [rows]="pageSize"
  [rowsPerPageOptions]="[5,10,20 ,50]"
  [loading]="loading"
  [totalRecords]="totalRecords"
  [lazy]="true"
  (onPage)="onPageChange($event)"
  [responsiveLayout]="'scroll'"
  [paginatorDropdownAppendTo]="'body'"
  dataKey="id"
  dir="rtl"
  styleClass="p-datatable-sm p-datatable-gridlines"
>
  <!-- HEADER -->
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>اسم الفرع</th>
      <th>الإجراءات</th>
    </tr>
  </ng-template>

  <!-- BODY -->
  <ng-template pTemplate="body" let-branch let-ri="rowIndex">
    <tr>
      <!-- Row Number -->
      <td>{{ branch.id }}</td>
      <!-- Branch Name -->
      <td>{{ branch.name }}</td>
      <!-- Actions -->
      <td>
        <!-- Delete -->
        <button
          pButton
          type="button"
          class="btn btn-sm btn-danger mx-1 my-1 rounded-circle"
          (click)="confirmDelete(branch)"
        >
          <i
            class="pi pi-trash d-flex align-items-center justify-content-center"
          ></i>
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="3" class="text-center py-4">لاتوجد أى بيانات</td>
    </tr>
  </ng-template>
</p-table>
