<div class="browser-shell">
  <div class="browser-toolbar">
    <button type="button" (click)="browserBack()">&larr;</button>
    <button type="button" (click)="browserForward()">&rarr;</button>
    <button type="button" (click)="browserHome()">Home</button>
    <input
      [ngModel]="browser.currentInput"
      (ngModelChange)="updateBrowserInput($event)"
      (keyup.enter)="browserGo()"
      placeholder="Enter site address..."
    />
    <button type="button" (click)="browserGo()">Go</button>
  </div>
  <iframe
    [src]="safeUrl(browser.currentUrl)"
    title="Browser"
    loading="lazy"
    referrerpolicy="no-referrer"
    sandbox="allow-scripts allow-same-origin allow-forms allow-popups"
  ></iframe>
</div>
